body {
    width: 95%;
    margin: 15px auto;
    border: 2px solid black;
    background-image:url("../images/SH_LOGO.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 300px;
}
h1, h2 {
    color: blue;
}
nav {
    width: 100%;
    border-bottom: 3px solid blue;
    margin-bottom: 15px;
}
article {
    width: 75%;
    float: left;
    column-count: 3;
    column-rule: 2px dotted blue;
}
aside {
    
    width: 250px;
    position: fixed;
    right: 40px;
    top: 120px;
    background-color: lightblue;
    border: solid black;
    padding: 10px;
}
#nav_menu{
    border-bottom: 2px solid blue;
    width: 100%;
    margin-bottom: 10px;
}
#nav_menu ul { 
    list-style-type: none; 
    margin: 0;
    padding: 0;
}
#nav_menu ul li { 
    float: left; 
}
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0; 
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
    border-bottom: 2px solid black;
}
#nav_menu ul li a.lastitem { 
    border-right: none; 
}
#nav_menu ul li a.current { 
    color: yellow; 
}
article p::first-letter {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}
article img {
    float: left;
    margin: 10px;
    width: 150px;
}
aside ul {
    list-style-type: square;
}
aside ol { 
    list-style-type: upper-roman; 
}
aside ol ol { 
    list-style-type: lower-alpha; 
}
aside ul ol { 
    list-style-type: lower-alpha;
 }
footer {
    clear: both;
    border-top: 2px solid black;
    padding: 10px;
    text-align: center;
}